<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 如果想要radio互斥就要把name属性值同一样，如果有v-model且v-model属性值绑定的一样则可以不需要绑定相同的name属性值 -->
    <div id="app">
        <input type="radio" v-model="message" id="male" value="男" name="aaa">男
        <input type="radio" v-model="message" id="famale" value="女" name="aaa">女
       <h2>你选择的性别是： {{message}}</h2>
        <input type="radio" v-model="message" id="male" value="男">男
        <input type="radio" v-model="message" id="famale" value="女">女
       <h2>你选择的性别是： {{message}}</h2>
    </div>
    <script src="../07-循环遍历/vue.js"></script>
<script>
    const app=new Vue({
        el:"#app",
        data:{
            message:""
        }
    })
</script>
</body>

</html>